:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey:  #5C6673;
    --color-light-grey: #D2D7DF;
    --color-purple:  #845BB3;
    --color-dark-blue: #13203B;
}

$mobile-xss: 380px;
$mobile-xs: 440px;
$mobile-sm: 768px;
$mobile: 1024px;
$desktop: 1025px;
$desktop-md: 1280px;
$desktop-lg: 1440px;
$desktop-xl: 1680px;